<li id="comment-<%= comment._id %>">
    <p>
        <% if (locals.user && locals.user.id==post.user.id){ %>  <!--user logged in and logged in user==user who posted-->
            <small> 
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
        
        <% }else if (locals.user && locals.user.id==comment.user.id){ %>  <!--user logged in and logged in user==user who posted-->
            <small> 
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
        <% } %>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
</li>